body {
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #111111;
  color: #fff;
}

a:hover {
  color: #fbbb04;
}

.tooltip {
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}

.banner {
  background: #0f4bcb;
  color: #fff;
  display: inline-block;
  height: 170px;
  line-height: 1.2;
  margin: 0 0 40px;
  padding: 8px;
  position: relative;
  text-align: center;
  vertical-align: top;
  white-space: normal;
  width: 140px;
}

.banner:after {
  border-bottom: 70px solid #0f4bcb;
  border-color: #0f4bcb #0f4bcb transparent;
  border-style: solid;
  border-width: 5px 70px 20px;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 100%;
}

.popStar:hover {
  animation: pop 0.3s linear 1;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

.animate-fade-in {
  animation: fade-in .5s ease-out forwards
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Light */
::-webkit-scrollbar-thumb {
  background: #7d7d7d;
}

/* Dark */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
